:root {
  --color-primary: hsla(210, 100%, 40%, 1);
  --color-primary-dark: hsla(210, 100%, 40%, 1);
  --color-neutral-1: hsla(0, 0%, 98%, 1);
  --color-neutral-2: hsla(0, 0%, 96%, 1);
  --color-neutral-3: hsla(0, 0%, 78%, 1);
  --color-neutral-4: hsla(0, 0%, 39%, 1);
  --color-neutral-5: hsla(0, 0%, 20%, 1);
  --color-black: hsla(0, 0%, 0%, 1);
  --color-white: hsla(0, 0%, 100%, 1);

  --space-xx-large: 128px;
  --space-x-large: 64px;
  --space-large: 48px;
  --space-base: 24px;
  --space-small: 16px;
  --space-x-small: 8px;
  --space-xx-small: 4px;
  --space-xx-large-rem: 8rem;
  --space-x-large-rem: 4rem;
  --space-large-rem: 3rem;
  --space-base-rem: 1.5rem;
  --space-small-rem: 1rem;
  --space-x-small-rem: 0.5rem;
  --space-xx-small-rem: 0.25rem;

  --box-shadow: 0 2px 2px 0 rgba(0,0,0,.5);
  --box-shadow-small: 0 1px 1px 0 rgba(0,0,0,.5);
}