body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

.small {
  font-size: 0.875rem;
}

.rds-quote {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  font-style: italic;
}

h1.rds-header1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
}

h2.rds-header2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3.rds-header3 {
  font-size 1.125rem;
  font-weight: 700;
}

h4.rds-header4 {
  font-weight: 700;
}

.rds-grid-layout {
  display: grid;
  grid-template-rows: 4rem auto;
  grid-template-columns: 200px auto;
  width: 100vw;
  height: 100vh;
}

.rds-page-logo {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
  background: var(--color-neutral-5);
  box-shadow: var(--box-shadow-small);
  z-index: 99;
}

.rds-page-header {
  background: var(--color-white);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  box-shadow: var(--box-shadow-small);
  z-index: 99;
}

.rds-page-navigation {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background: var(--color-neutral-5);
  padding: 8px;
}

.rds-page-content {
  padding: var(--space-base) var(--space-x-large) var(--space-x-large) var(--space-x-large);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: var(--color-neutral-1);
  overflow-y: auto;
}

.rds-header-style {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-self: center;
}

.rds-heading-style {
  justify-self: start;
  align-self: center;
  padding: 0 var(--space-base);
}

.rds-logo-heading {
  padding: 4px var(--space-base);
  color: var(--color-neutral-1);
  font-weight: 400;
}

.rds-page-navigation-list {
  list-style: none;
  padding: 0 var(--space-small);
  margin: 0;
}

.rds-page-navigation-list-item {
  list-style: none;
  margin: 0;
  line-height: var(--space-base);
}

.rds-page-navigation-list-header {
  line-height: var(--space-base);
}

.rds-navigation-link {
  display: block;
  text-decoration: none;
  color: var(--color-neutral-2);
}

.rds-navigation-link:hover {
  font-weight: 600;
}

.rds-navigation-link-disabled {
  display: block;
  text-decoration: none;
  color: var(--color-neutral-3);
}

.rds-code-example {
 background: var(--color-white);
 border: 1px solid var(--color-neutral-3);
 margin: var(--space-small) 0 0 0;
 padding: 0;
}

.rds-code-example-content-example {
 margin: 0;
 padding: var(--space-base);
}

.rds-code-example-content-code {
 margin: 0;
 padding: 0;
}

.rds-code-example-content-code > code {
  padding: var(--space-base-rem);
  background: var(--color-neutral-2);
  color: var(--color-neutral-5);
  white-space: pre-wrap;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.rds-props {
  background: var(--color-neutral-2);
  margin: 0;
  padding: 0;
  border: 1px solid var(--color-neutral-3);
  border-top: 0;
}

.rds-props > button > h3.rds-header3, .rds-props > button > i {
  color: var(--color-neutral-5);
}

.rds-props > button > i {
  color: var(--color-neutral-5);
  width: 100%;
  text-align: right;
}

.rds-props-table > tbody > tr > td {
  padding: 0 0 var(--space-base-rem) 0;
  vertical-align: top;
}

.rds-props-table > thead > tr > th {
  padding: var(--space-small-rem) 0;
  vertical-align: top;
  font-weight: 400;
}

.rds-props-table > tbody > tr:not(:last-child) > td, .rds-props-table > thead > tr > th {
  border-bottom: 1px solid var(--color-neutral-3);
}

.rds-props-header {
  height: 48px;
}

.rds-props-header > th {
  text-align: left;
  font-size: 1rem;
  color: var(--color-neutral-3);
}

.rds-props-header > th:first-child {
  min-width: 200px;
}

.rds-props-header > th:last-child {
  width: 100%;
}

.rds-props-item {
  padding: 0;
  margin: 0;
}

.rds-props-table {
  width: calc(100% - 48px);
  padding: 0 24px;
  border-collapse: collapse;
  border-spacing: 0;
}

.rds-props-item-desc > p {
  line-height: 1;
  color: var(--color-neutral-5);
}

.rds-props-item-desc > small {
  color: var(--color-neutral-4);
}

.rds-props-item-vals > p {
  line-height: 1;
  font-family: monospace;
  color: var(--color-neutral-5);
}

.rds-props > button {
  width: 100%;
  padding: 0px 24px;
  margin: 0px;
  border: 0;
  background: var(--color-neutral-2);
  text-align: left;
  cursor: pointer;
  outline: none;
  color: var(--color-neutral-5);
  height: 48px;
}

.rds-props > button > h3 {
  padding-right: 0.5rem;
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
  font-weight: 400;
}

.rds-props > button > i {
  position: static;
  top: 0;
  font-size: 1.5rem;
  display: table-cell;
  vertical-align: middle;
}

.rds-divider {
  margin: 1.5rem 0;
}